body {
    margin: 0;
    color: aliceblue;
    overflow-x: hidden;
}

#bird-container,
#abstract-container,
#fog-container {
    height: 120vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ff6347;
}

#two-team-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 5em;
    padding-bottom: 5em;
}

#person-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 2em;
    padding-left: 2em;
}

.content h1 {
    font-size: 900%;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic,
        sans-serif;
    color: #ff6347;
}

.content p {
    font-size: 150%;
}